<template lang="pug">
    .container
        .content.has-text-center
            h1 Cargando ...
</template>

<style lang="scss" scoped>
    .content {
        padding: 20px;
        min-height: 40vh;
    }
</style>