<template lang="pug">
  section.hero.is-success
    .hero-head
      header.nav
        .container
          .nav-left
            .nav-item
              strong 📻  Platzi Music
            .nav-right.nav-menu
              a.nav-item.gbClass(@click="selectLang('en')") ENG
              a.nav-item(@click="selectLang('es')") ESP
              router-link.nav-item.nav-opt(to="search") {{ $t('search') }}
              router-link.nav-item.nav-opt(to="about") {{ $t('about') }}

    .hero-body
      .container.has-text-centered
        h1.title Platzi Music
        h2.subtitle Canciones que estan Vue-nisimas!
        pm-player
</template>

<script>
import PmPlayer from '@/components/Player.vue'

export default {
  components: { PmPlayer },

  methods: {
    selectLang (lang) {
      this.$i18n.locale = lang
    }
  }
}
</script>

<style lang="scss" scoped>
  .nav-left {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .nav-opt {
    margin-left: 20px;
  }
  .nav-opt:hover {
    font-size: 1.03em;
  }
  .gbClass {
    margin-right: 20px;
  }
</style>
