<template lang="pug">
main
  transition(name="move")
    pm-notification(
      v-bind:classType="{ 'is-success': Object.keys(tracks).length !== 0, 'is-danger': Object.keys(tracks).length === 0 }",
      v-show="showNotification"
    )
      p(slot="body") {{ searchMessage }}

  transition(name="move")
    pm-loader(v-show="isLoading")

  section.section(v-show="!isLoading")
    nav.nav
      .container.searchContainer
        input.input.is-large(
          type="text",
          placeholder="Buscar canciones",
          v-model="searchQuery",
          @keyup.enter="search"
        )
        a.button.is-info.is-large(@click="search") Buscar
        a.button.is-danger.is-large &times;

    .container
      p
        small {{ searchMessage }}

    .container.results
      .columns.is-multiline
        .column.is-one-quarter(v-for="t in tracks") 
          pm-track(
            v-blur="t.preview_url"
            :class="{ 'is-active': t.id == selectedTrack }",
            :track="t",
            @select="setSelectedTrack"
          )
</template>

<script>
import trackService from "@/services/track.js";

import PmTrack from "@/components/Track.vue";

import PmLoader from "@/components/shared/Loader.vue";
import PmNotification from "@/components/shared/Notification.vue";

export default {
  name: "app",

  components: { PmTrack, PmLoader, PmNotification },

  data() {
    return {
      searchQuery: "",
      tracks: [],

      isLoading: false,
      showNotification: false,

      selectedTrack: "",
    };
  },

  computed: {
    searchMessage() {
      if (this.tracks.length === 0) {
        return "No se encontraron resultados";
      } else {
        return `Encontrados: ${this.tracks.length}`;
      }
    },
  },

  watch: {
    showNotification() {
      if (this.showNotification) {
        setTimeout(() => {
          this.showNotification = false;
        }, 3000);
      }
    },
  },

  methods: {
    search() {
      if (!this.searchQuery) {
        return;
      }

      this.isLoading = true;

      trackService.search(this.searchQuery).then((res) => {
        if (res.tracks.total === 0 || res.tracks.total > 0) {
          this.showNotification = true;
        }
        this.tracks = res.tracks.items;
        this.isLoading = false;
      });
    },

    setSelectedTrack(id) {
      this.selectedTrack = id;
    },
  },
};
</script>

<style lang="scss">
.searchContainer {
  display: flex;
}

.results {
  margin-top: 50px;
}

.tracks-list {
  flex-direction: column;
}

.is-active {
  border: 3px #48c774 solid;
}
</style>
