<template lang="pug">
  #app
    pm-header

    router-view

    pm-footer
</template>

<script>
import PmFooter from "@/components/layout/Footer.vue";
import PmHeader from "@/components/layout/Header";

export default {
  name: "app",

  components: { PmFooter, PmHeader },
};
</script>

<style lang="scss">
@import "./scss/main.scss";

.searchContainer {
  display: flex;
}

.results {
  margin-top: 50px;
}

.tracks-list {
  flex-direction: column;
}

.is-active {
  border: 3px #48c774 solid;
}
</style>
